*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

margin:0;

background:#faf8f5;

color:#333;

}


header{

background:white;

padding:25px 8%;

display:flex;

justify-content:space-between;

align-items:center;

}


.logo{

font-size:25px;

font-weight:bold;

letter-spacing:2px;

}


nav a{

margin:10px;

text-decoration:none;

color:#333;

}



.banner{

background:#eee4d8;

padding:90px 10%;

text-align:center;

}



.banner h1{

font-size:45px;

}



.botao{

background:#222;

color:white;

padding:15px 30px;

text-decoration:none;

border-radius:5px;

}



.produtos{

padding:50px 10%;

text-align:center;

}



.cards{

display:flex;

gap:30px;

justify-content:center;

flex-wrap:wrap;

}



.card{

background:white;

padding:35px;

width:280px;

box-shadow:0 5px 20px #ddd;

}



button{

background:#222;

color:white;

border:0;

padding:12px 25px;

cursor:pointer;

}



.pagamento,
.contato{

padding:50px;

text-align:center;

background:#f1ece5;

}



.formulario{

max-width:400px;

margin:50px auto;

padding:30px;

background:white;

box-shadow:0 5px 20px #ddd;

}



input{

width:100%;

padding:15px;

margin:10px 0;

}



footer{

padding:20px;

text-align:center;

}
